

.div2{
    height: 100px;
    width: 300px;
    background-color: salmon;
    padding: ;
    margin: 50px;
    box-sizing: border-box;
}
input:focus{
    background-color: seagreen;
    border: 5px solid yellow;
}
input:checked{
    height: 30px;
    width: 40px;
}
p:first-child{
    color: red;
}
p:nth-child(4){
    color: saddlebrown;

}
p::first-letter{
    font-size: 50px;
}
p::before{
    content: url(images.jpg);
}
p::selection{
    color: yellow;
}